<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html" data-sly-use.model="com.adobe.aem.learning.core.models.MyTitleModel" data-sly-test.myTitle="${model.myTitle}" class="cmp-title">
    <h1 class="cmp-my-title">This is Model Title : ${myTitle}</h1>
    <h2>Style System value : ${currentStyle.type}</h2>
    <h3>Reading Page properties</h3>
    <h4>Headline - ${pageProperties.headline}</h4>
    <h4>Prefix - ${pageProperties.prefix}</h4>

    <p data-sly-test="${model.linkPath}">Link Path : ${model.linkPath}</p>
    <p data-sly-test="${model.external}">Target : ${model.target}</p>
    <p data-sly-test="${model.resourceType}">Resource Type : ${model.resourceType}</p>

</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!myTitle, classAppend='cmp-title'}"></sly>
